<div class="bms-head">
    <div class="head-left">
        <a class="logo" href="/">若兰公司后台管理系统</a>
    </div>
    <div class="head-right">
        <div class="nickbox">欢迎您
            <p class="welcome"> xx</p>
            <span class="admin">(管理员)</span>
        </div>
        <button id="quit" type="button" class="btn btn-default navbar-btn">退出</button>
    </div>
</div>