<div class="bms-head">
    <div class="head-left">
        <a class="logo" href="/">某公司后台管理系统</a>
    </div>
    <div class="head-right">
        <p>欢迎您 xx</p>
        <button type="button" class="btn btn-default navbar-btn">Sign in</button>
    </div>
</div>